.input-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.eye-icon {
  position: absolute;
  right: 10px;
}

@media screen and (min-width: 700px) {
  .input-section {
    width: 450px;
  }
}
